* {
    margin: 0;
    padding: 0;
}

.adminsection {

    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.admin {

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;


}

.h2admin {
    color: #0064aa;
    margin: 0;
    font-size: 2em;
    text-align: center;
    width: 30vw;
}

.auser {
    box-shadow: inset 0 0 0 0 #009246;
    color: #009246;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    font-family: "Roboto Regular";
    font-size: 3em;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
}

.auser:hover {
    color: #c8b67f;
    box-shadow: inset 300px 0 0 0 #009246;
    ;
}

/* ---------------------------- */
.arecette {
    box-shadow: inset 0 0 0 0 #cdcdcd;
    color: #cdcdcd;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    font-family: "Roboto Regular";
    font-size: 3em;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
}

.arecette:hover {
    color: #c8b67f;
    box-shadow: inset 300px 0 0 0 #ffffff;
    ;
}

/* ---------------------------- */
.areview {
    box-shadow: inset 0 0 0 0 #ce2b37;
    color: #ce2b37;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    font-family: "Roboto Regular";
    font-size: 3em;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
}

.areview:hover {
    color: #c8b67f;
    box-shadow: inset 300px 0 0 0 #ce2b37;
    ;
}

/* ---------------------------- */
.aingredient {
    box-shadow: inset 0 0 0 0 #000055;
    color: #000055;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    font-family: "Roboto Regular";
    font-size: 3em;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
}

.aingredient:hover {
    color: #c8b67f;
    box-shadow: inset 300px 0 0 0 #000055;

}

@media screen and (max-width: 390px) {
    .auser {
        font-size: 2em;
    }

    .arecette {
        font-size: 2em;
    }

    .areview {
        font-size: 2em;
    }

    .aingredient {
        font-size: 2em;
    }

    .h2admin {
        font-size: 1.8;
    }
}

.exitimage {
    width: 5vw;
    height: 7vh;
}


/* -------------------------- */
.sectionAllUser {
    background-color: #f4f4f8;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.user-card {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
}

.user-card h2 {
    color: #4CAF50;
    margin-bottom: 10px;
}

.user-card h4 {
    margin: 5px 0;
    color: #000055;
    font-size: 1.3em;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.modify-btn {
    background-color: #4CAF50;
    color: white;
    margin-right: 10px;
}

.modify-btn:hover {
    background-color: #45a049;
}

.delete-btn {
    background-color: #f44336;
    color: white;
}

.delete-btn:hover {
    background-color: #f69696;
}

/* ------------------ */

.update-form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 20px;
}

.form-update {
    margin-bottom: 15px;
}