/* Root Styles */
main {
    background-color: #f4f4f8;
}

/* Recette Detail Section */
.recetteDetail {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 45px;
    grid-auto-rows: minmax(100px, auto);
}


.divimage {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.detailImageprofile,
.detailImage {
    width: 100%;
    height: auto;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    grid-column: 1 / 4;
    grid-row: 1 / 4;
}


.articlecontenu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50vw;
}

.servingsH3 {
    color: #2a2c41;
    margin-left: 50px;
}

/* Headings */
.detailH1,
.h1profile,
.detailH3,
.detailH5,
.h4Prepartion,
.h2terminee {
    text-align: center;
}

.detailH1 {
    font-size: 30px;
    font-weight: 700;
    color: #fdbf50;
    margin: 15px;
}

.h1profile {
    font-size: 50px;
    color: #2a2c41;
}

.detailH3 {
    font-size: 30px;
    color: #ff724c;
    margin-top: 10px;
    grid-column: 4 / 7;
    grid-row: 1;
}

.detailH5 {
    font-size: 25px;
    color: #fdbf50;
    margin-top: 20px;
}

.h4Prepartion {
    font-size: 25px;
    font-weight: 600;
    color: #ff724c;
    grid-column: 1 / 5;
}

.h2terminee {
    font-size: 40px;
    color: #ff724c;
    margin-bottom: 20px;
    margin-right: 80px;
}

.divdetailH5 {
    grid-column: 5 / 6;
    grid-row: 4;
    display: flex;
    gap: 20px;
}

/* Paragraphs */
.detailp,
.detailpInfo {
    font-size: 20px;
    color: #2a2c41;
    margin: 0;
}

.detailp {
    grid-column: 1 / 6;
    grid-row: 5 / 6;
    font-size: 25px;
}

.detailpInfo {
    font-weight: 700;
    grid-column: 1 / 6;
    grid-row: 6;
}

/* Ingredient Section */
.divIngredient {
    grid-column: 3 / 6;
    grid-row: 2 / 4;
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    font-weight: 700;
}

/* Line Separator */
.lineRed {
    width: 50vw;
    height: 3px;
    background-color: #ff724c;

    margin-bottom: 2rem;
}

/* Responsive Styles */
@media screen and (max-width: 1170px) {
    .divIngredient {
        margin-left: 20px;
        grid-column: 4 / 7;
    }

    .detailImage {
        width: 500px;
        height: 450px;
    }
}

@media screen and (max-width: 768px) {
    .recetteDetail {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, auto);
        gap: 20px;
        /* Reduce gap size to avoid large spaces */
    }

    .divimage {
        grid-column: 1 / 6;
        grid-row: 1 / 2;
        width: 100%;
        /* Make the image responsive */
    }

    .detailImage {
        width: 100%;
        height: auto;
        background-size: cover;
        border-radius: 20px;
    }

    .detailH1 {
        font-size: 25px;
        grid-column: 1 / 5;
    }

    .divdetailH5 {
        grid-row: 3;
        display: flex;
        flex-direction: column;
    }

    .detailH3 {
        font-size: 18px;
        grid-column: 1 / 5;
        grid-row: 2;
        margin-top: 20px;
    }

    .detailp,
    .detailpInfo {
        grid-column: 1 / 6;
    }

    .divIngredient {
        grid-column: 1 / 5;
        grid-row: 3;
        justify-content: flex-start;
    }

    .h4Prepartion {
        font-size: 20px;
        font-weight: 700;
        grid-column: 1 / 6;
    }
}

@media screen and (max-width: 480px) {
    .recetteDetail {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, auto);
        gap: 15px;
        /* Reduce the gap size to prevent large spaces */
    }

    .divimage {
        grid-column: 1 / 6;
        grid-row: 1 / 2;
        width: 100%;
        /* Full width for mobile */
    }

    .detailImage {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .detailH1 {
        font-size: 15px;
        margin-top: 10px;
        /* Adjust spacing to reduce gap */
    }

    .detailH3 {
        font-size: 16px;
        margin-top: 10px;
    }

    .detailp {

        text-align: center;
    }

    .detailpInfo {
        margin-top: 10px;
        /* Add margin to prevent overlap */
    }

    .divIngredient {
        grid-column: 1 / 2;
        font-size: 20px;
    }

    .h4Prepartion {
        font-size: 15px;
        font-weight: 300;
        margin-left: 10px;
    }

    .articlecontenu {
        width: 70vw;
    }

}

.articleRecette {
    border: 5px solid #2a2c41;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 20px;
    width: 80vw;
    border-radius: 20px;
}

.allrecettesection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btndiv {
    margin-bottom: 20px;
}

.sectionRecette {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}