body {
    background-color: #f4f4f8;
}

.comment {
    width: 400px;
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 10px;
    font-family: "Roboto Regular", cursive;
    font-size: 1em;
    color: #676767;
    transition: border 0.5s;
    border: solid 3px #2A2C41;
    box-sizing: border-box;
    height: 120px;
    resize: none;
    overflow: auto;
}

.allCom {
    margin-left: 30px;
}

.recetteid {
    display: none;
}

.divreview {
    display: flex;
    flex-direction: row;
}

.ratin {
    width: 100px;
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    font-family: "Roboto Regular", cursive;
    font-size: 1em;
    color: #676767;
    transition: border 0.5s;
    border: solid 3px #2A2C41;
    box-sizing: border-box;
    height: 40px;
}

.review-btn {
    background-color: #FDBF50;
    color: #f4f4f8;
    height: 50px;
    cursor: pointer;
    font-size: 1.29em;
    border-radius: 10px;
    width: 7vw;
}

.review-btn:hover {
    background-color: #e58f0e;
}

.formreview {
    display: flex;
    width: 40vw;
    height: 20vh;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin-left: 30px;
    flex-flow: wrap column;
}

.retinSubmit {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
}

.sectioncard {
    display: flex;
    align-items: center;
    width: 70vw;
    flex-flow: row wrap;
    background-color: #f4f4f8;
}

.card {
    background-color: #ffb39e;
    border-radius: 30px;
    padding: 20px;
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 30vh;
}

.prating {
    font-size: 1.3em;
    color: #222b95;
    text-shadow: #FDBF50 2px 3px;
    font-weight: 900;
}

.dateReview {
    margin-top: 20px;
    font-size: 12px;
    color: #777;
    grid-column: 3;
    grid-row: 4;
    margin: 2px;
}

.avatar {
    width: 80px;
    height: 80px;
    border: #2A2C41 2px solid;
    border-radius: 50px;
    background-color: #f4f4f8;
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar p {
    color: #ff724c;
    font-size: 2em;
    font-weight: 600;
}

.h2card {
    color: #2A2C41;
    font-size: 2em;
    font-weight: 600;
    grid-column: 2;
    grid-row: 1;
    margin-right: 20px;
}

.h2cardProfile {
    color: #2A2C41;
    font-size: 1.3em;
    font-weight: 600;
    grid-column: 1/3;
    grid-row: 1;
    margin-right: 20px;
}

.pcard {
    color: #2A2C41;
    font-size: 1.3em;
    font-weight: 600;
    grid-column: 1/4;
    grid-row: 2/4;
    text-align: center;
}

.pasReview {
    font-size: 2em;
    margin: 20px;
    font-weight: 700;
    color: #2A2C41
}

.pReview {
    font-size: 2.2em;
    text-align: center;
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    /* main {
        margin-left: 50px;
    } */

    .comment {
        width: 300px;
    }

    .formreview {
        width: 80vw;
        height: auto;
        margin-left: 0;
    }

    .card {
        width: 80vw;
        height: auto;
        grid-template-columns: 1fr;
    }

    .review-btn {
        width: 14vw;
    }

    .ratin {
        width: 17vw;
        height: 40px;
        font-size: 0.9em;
    }
}

@media screen and (max-width: 390px) {
    .comment {
        width: 250px;
        font-size: 0.9em;
    }

    .formreview {
        width: 90vw;
    }

    .ratin {
        width: 50px;
        height: 40px;
        font-size: 0.9em;
    }

    .review-btn {
        font-size: 1em;
        width: 20vw;
    }

    .card {
        width: 90vw;
        padding: 15px;
        grid-template-columns: 1fr;
    }

    .avatar {
        width: 60px;
        height: 60px;
    }

    .avatar p {
        font-size: 1.5em;
    }

    .h2card,
    .h2cardProfile,
    .pcard {
        font-size: 1em;
    }
}