* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
    color: #2A2C41;
}

footer {
    background-color: #f4f4f8a4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.bgImage {
    height: 100vh;
    width: 100vw;
}

.gridOne {
    grid-column: 4/5;
    grid-row: 1 / 4;
    margin-top: 50px;
}

.gridThree {
    grid-column: 1;
    grid-row: 1;
    font-size: 35px;
    font-weight: 700;
    margin-top: 30px;
    text-align: center;
}

.gridThree:hover {
    color: #FDBF50;
}

.gridFour {
    grid-column: 2;
    grid-row: 1;
    margin-left: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.gridFive {
    grid-column: 2/5;
    grid-row: 4/5;
    font-size: 40px;
    font-weight: 700;
}

.logofooter {
    width: 200px;
    height: 200px;
}

.socialmedia {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

.gridOne h1 {
    font-size: 35px;
}

.gridOne h1 span {
    color: #FDBF50;
}

.socialmedia li img {
    width: 4vw;
    height: 9vh;
}

.divinput {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
}

@media screen and (max-width: 768px) {
    footer {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .gridOne {
        grid-column: 1/2;
        grid-row: auto;
        margin-top: 20px;
    }

    .gridThree {
        font-size: 25px;
        margin-top: 20px;
    }

    .gridFour {
        grid-column: 1/2;
        grid-row: auto;
        margin-left: 0;
        justify-content: center;
    }

    .gridFive {
        font-size: 30px;
        grid-column: 1/2;
        grid-row: auto;
        margin-top: 20px;
    }

    .logofooter {
        width: 150px;
        height: 150px;
    }

    .socialmedia li img {
        width: 10vw;
        height: auto;
    }

    .divinput {
        flex-direction: column;
        gap: 1rem;
    }
}


@media screen and (max-width: 390px) {
    .gridThree {
        font-size: 20px;
    }

    .gridFive {
        font-size: 25px;
    }

    .logofooter {
        width: 100px;
        height: 100px;
    }

    .gridThree {
        font-size: 15px;
        margin-top: 20px;
        margin-left: 50px;
    }

    .socialmedia li img {
        width: 15vw;
    }

    .gridOne h1 {
        font-size: 20px;
    }
}